@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat&family=Mooli&family=Oswald&display=swap');
/* fonts so far, all from fonts.google.com:  
font-family: 'Cabin', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Mooli', sans-serif;
font-family: 'Oswald', sans-serif;

*/

:root{
    /* --header-color: #7e7b66; */
    --header-color: #908d78;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #716E59;

}

.home {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url("https://images.unsplash.com/photo-1569533816166-49d08c516a77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-size: 100% 100%;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    text-align: center;
}

.main-container h1{
    color: white;
    text-shadow: 3px 3px black;
    font-size: 8rem;
    /* margin-left: 4rem; */
}

.main-container input {
    height: 2.5rem;
    width: 28rem;
    text-align: center;
    border-radius: 0.5rem;
    border: solid black 0.1rem;
    font-size: 1rem;
}

.search-btn-home {
    width: 8rem;
    font-size: 1.3rem;
    margin-top: 1rem;
    padding: 3px;
    border: 1px solid #797663;
    border-radius: .5rem; 
    color: #5e5b4b;
}

.home-btn-container {
    width: 18rem;
    display: flex;
    justify-content: space-between;
}

.signup-btn-home, .login-btn-home {
    width: 8rem;
    font-size: 1.3rem;
    margin-top: 1rem;
    padding: 3px;
    background-color: #797663;
    color: white;
    border: 1px solid white;
    border-radius: .5rem; 
}

.signup-btn-home:hover, .login-btn-home:hover {
    background-color: #5c5a4c;
}

.login, .signup {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    
}

.login-signup-content-container {
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444654;
    background-color: #67655a;
    background: radial-gradient(#d7d5bf,#c4c2a9, #a19f8d, #9d9b85)
}

.image-container {
    height: 100vh;
    width: 60vw;
}


.articon-logo {
    color: white;
    text-shadow: 3px 3px black;
    font-size: 8rem;
}

.login-form, .signup-form {
    background-color: rgba(255, 255, 255, 0.739);
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.login-form {
    height: 25rem;
    width: 35rem;
}

.login-username-label, .login-password-label {
    font-size: 2.2rem;
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.2rem;
}

.login-username-input, .login-password-input {
    font-size: 1.3rem;
}

.login-username-input {
    margin-bottom: 1.2rem;
}

.login-password-input {
    margin-bottom: 1.4rem;
}

.login-btns-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 3.5rem;
}

.signup-btn, .login-btn {
    font-size: 1.3rem;
    width: 8rem;
    border-radius: 0.5rem;
    margin-bottom: 0.7rem;
    padding: 3px;
    padding-bottom: 4px;
    
}

.signup-btn {
    color: #726f5e;
    background: none;
    border: 0.01rem solid #918d77;
}

.signup-btn:hover {
    background-color: #918d77;
    color: white;
}

.login-btn {
    background-color: #797663;
    color: white;
    border: none;
}

.login-btn:hover {
    background-color: #5c5a4c;
}



.signup-form {
    height: 25rem;
    width: 35rem;
}

.signup-username-label, .signup-username-input, .signup-password-label, .signup-password-input, .signup-reenter-password-label, .signup-reenter-password-input {
    margin-bottom: 1.1rem;
}

.signup-username-label, .signup-password-label,.signup-reenter-password-label {
    font-size: 2rem;
}

.signup-username-input, .signup-password-input, .signup-reenter-password-input{
    font-size: 1.3rem;
}

.signup-page-btn {
    font-size: 1.3rem;
    width: 8rem;
    border-radius: 0.5rem;
    margin-bottom: 0.7rem;
    padding: 4px;
    padding-bottom: 5px;
    color: white;
    background-color: #918d77;
    border: none;
}

.signup-page-btn:hover {
    background-color: #7f7b66;
    color: white;
}

/* ----- Image Gallery ----- */


/* .image-gallery {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 5px;
  } */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    padding: 0px 10px;
    width: 85vw;
    box-sizing: border-box;
    background-color: #716e59;
    height: auto;
    margin: 0;
  }
  
.thumbnail, .add-art-button {
    border: 1px solid black;
    box-sizing: border-box; 
    margin: 5px 0px 5px 5px;
    /* flex: 0 0 calc(33.33% - 10px);  */
    /* max-width: calc(33.33% - 10px);  */
    max-height: 24rem;
    max-width: 35rem;
    text-align: center; 
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #ceccbc;
}

.thumbnail img {
  max-width: 80%;
  max-height: 80%; 
}

.thumbnail h3 {
  margin: 5px 0;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.7); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  
  .lightbox .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    width: 30px;
    height: 30px;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .lightbox .lightbox-content {
    position: relative;
    border: 3px solid black;
    background-color: antiquewhite;
    text-align: center;
    padding: 20px; 
    max-width: 80%; 
    max-height: 80%; 
    overflow: auto;
  }
  
  .lightbox img {
    max-width: 100%;
    max-height: 80%; /* Adjust this as needed */
  }
  
  

  .lightbox img {
    max-width: 90%;
    max-height: 80vh;
  }
  
  .add-art-component {
    border: 1px solid black

  }

  /* .search-form {
    border: 1px solid black
  } */

/* ---- Header, Navbar, Sidebar starts here ---- */

.header {
    display: flex;
    align-items: center;
    height: 8%;
    background-color: var(--header-color);
    /* background: radial-gradient(#d7d5bf,#c4c2a9, #a19f8d, #9d9b85); */
    z-index: 1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.345);
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* margin-right: 0; */
}

.header-logo-container {
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.345);
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.345); */
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9a9882;
    /* background-color: var(--header-color); */
}

.logo-btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    font-size: 3rem;
    font-family: 'Mooli', sans-serif;
}

.logo-btn:hover, .emotions-link-btn:hover {
    cursor: pointer;
}

nav {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    font-family: Cabin, sans-serif;
}

.nav-ul {
    padding: none;
    margin: none;
}
.nav-ul li, .sidebar-emotions-ul {
    list-style: none;
    display: inline;
    padding-right: 1.5rem;
    font-size: 1.4rem;
    
}

.main-search-bar {
    /* width: 18rem;*/
    border: black 1px solid;
    padding: 8px 16px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    width: 20rem;
    transition: border-color 0.3s;
}

.Link {
    color: white;
    text-decoration: none;
}


.sidebar-main-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 92vh;
    height: auto;
    margin: 0;
    padding: 0;
    align-items: stretch;
}


.sidebar {
    width: 15%;
    border-right: 1px solid rgba(255, 255, 255, 0.345);
    z-index: 0;
    background-color: #a3a18a;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Mooli', sans-serif;
}

.sidebar-emotions-ul {
    list-style: none;
    display: inline;
    font-size: 1.4rem;
    padding: 0;
}

.sidebar-emotions-ul li{
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.376);
}

.angry, .happy, .sad, .surprised, .disgusted, .fearful, .bad, .random {
    font-family: 'Mooli', sans-serif;
}

.angry {
    color: red;
}
  
.happy {
    color: yellow;
}

.sad {
    color: blue;
}

.surprised {
    color: purple; /* A bright and contrasting color often associated with surprise */
}

.disgusted {
    color: green;
}

.fearful {
    color: darkred; /* A dark and intense color associated with fear */
}

.bad {
    color: black; /* Often associated with negativity and evil */
}   

.random {
    color: white;
}

.emotions-btn {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    padding: 0.2rem 1rem;
    transition: transform 0.2s, box-shadow 0.2s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    width: 100%;
    letter-spacing: 2px;
}

.emotions-btn:hover {
    transform: scale(1.15);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.username-li-item {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    border-bottom: none !important;
    /* color: #735473; */
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    width: 100%;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}




/* ---- SignOffLogInBtn ---- */

.signOffLogInBtn {
    background-color: transparent;
    border: 1px solid white;
    font-size: 1.4rem;
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

}

.signOffLogInBtn:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #b0ab95;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}